[Unit]
Description=Web Inspector Debug URL

[Service]
EnvironmentFile=/opt/radiodan/rde/deployment/systemd/ports.env
WorkingDirectory=/opt/radiodan/rde/services/debug
ExecStart=/usr/bin/env PORT=${DEBUG_PORT} npm start
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-debug
Type=idle

[Install]
WantedBy=multi-user.target
