[Unit]
Description=YouTube Downloader
ConditionPathExists=/opt/radiodan/processes/services/downloader

[Service]
EnvironmentFile=/opt/radiodan/rde/deployment/systemd/ports.env
WorkingDirectory=/opt/radiodan/rde/services/downloader
ExecStart=/usr/bin/env PORT=${DOWNLOADER_PORT} npm start
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-downloader
Type=idle

[Install]
WantedBy=multi-user.target
