[Unit]
Description=Radio app manager web server

[Service]
WorkingDirectory=/opt/radiodan/rde/services/manager
ExecStart=/opt/radiodan/rde/services/manager/start-server-environment.sh
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-server
Type=idle
User=pi
Environment=INTERNAL_PORT=5001
Environment=EXTERNAL_PORT=5000
Environment=WEBSOCKET_PORT=8000

[Install]
WantedBy=multi-user.target
