[Unit]
Description=Physical interface
ConditionPathExists=/opt/radiodan/processes/services/physical

[Service]
WorkingDirectory=/opt/radiodan/rde/services/physical
ExecStart=/usr/local/bin/npm start
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-physical
Type=idle
Environment=PORT=5100

[Install]
WantedBy=multi-user.target
