[Unit]
Description=RFID reader on SPI Interface
ConditionPathExists=/opt/radiodan/processes/services/rfid

[Service]
WorkingDirectory=/opt/radiodan/rde/services/rfid
ExecStart=/usr/local/bin/npm start
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-rfid
Type=idle

[Install]
WantedBy=multi-user.target
