[Unit]
Description=RFID reader on SPI Interface
ConditionPathExists=/opt/radiodan/processes/services/rfid

[Service]
EnvironmentFile=/opt/radiodan/rde/deployment/systemd/ports.env
WorkingDirectory=/opt/radiodan/rde/services/rfid
ExecStart=/usr/bin/env PORT=${RFID_PORT} npm start
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-rfid
Type=idle

[Install]
WantedBy=multi-user.target
