[Unit]
Description=Radioan Service Setup

[Service]
WorkingDirectory=/opt/radiodan/rde/services/setup
ExecStart=/usr/local/bin/npm start
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-debug
Type=idle
Environment=PORT=5020
Environment=SERVICES_PATH="/opt/radiodan/processes/services"

[Install]
WantedBy=multi-user.target
