{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
