[Unit]
Description=Radio app manager
Requires=manager-web-server.service
After=manager-web-server.service

[Service]
WorkingDirectory=/opt/radiodan/rde/manager
ExecStart=/opt/radiodan/rde/manager/start-web-environment.sh
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=rde-manager
Type=idle
User=pi

[Install]
WantedBy=multi-user.target
